/******************************************
* Common
******************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

strong {
  font-weight: bold;
  text-decoration: underline;
}


/******************************************
* Header
******************************************/

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

#header-sign-in {
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

/******************************************
* Auth
******************************************/

.modal-container {
  position: relative;
  width: 250px;
}

#sign-in-button {
  display: inline-block;
  color: #000;
  width: 200px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  font-size: 16px;
  border-radius: 3px;
}

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 200px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  width: 360px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 200px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 350px) {
  .modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content { left: 0; }
}

#sign-in-modal {
  display: none;
}

#user-info {
  padding-top: 5px;
  padding-right: 5px;
  display: none;
}

#user-info-username {
  display: inline-block;
  padding-right: 5px;
}

#username {
  font-weight: bold;
}

#sign-out-button {
  display: inline-block;
  color: #000;
  width: 100px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

/******************************************
* Main Content
******************************************/

#main-content {
  height: 100vh;
  display: block;
  overflow: auto;

  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    color: #eee;
}

#main-content::before,
#main-content::after {
  clear: both;
  content: '';
  display: block;
}

#more-info {
  display: none;
}

#mobile-warning {
  display: none;
}

/******************************************
* Game
******************************************/

#game-row {
  display: flex;
  justify-content: center;
}

#game-container {
  width: 60%;
  border: 20px solid black;
  border-image: url('../assets/images/web/border.png');
  border-image-slice: 30 36 36 30;
  border-image-repeat: repeat;
}

canvas {
  width: 100%;
  border-radius: 10px;
}

/******************************************
* Web
******************************************/


#web p  {
  margin-left: 10px;
  margin-right: 10px;
}

.web-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.web-row-light {
  background-color: #eee;
}

.web-row-dark {
  background-color: #e2e2e2;
}

.web-content-container {
  width: 65%;
  margin: auto;
}


.web-content-container-wide {
  width: 80%;
  margin: auto;
}

.web-content {
  display: flex;
  justify-content: center;
}

.web-content-no-reverse {
  display: flex;
  justify-content: center;
}

.quote {
  flex: 1 1 0px;
}

.quote .quote-text {
  text-align: right;
  font-size: 28px;
  padding-bottom: 10px;
  font-style: italic;
}

.quote .quote-author {
  text-align: right;
  font-size: 22px;
}

.italic {
  font-style: italic;
}

.sprite-box {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}

.sprite-box img {
  width: 50%;
  margin: auto;
}

.web-text {
  flex: 3 3;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 25px;
}

.web-text .large-text {
  font-size: 24px;
}

.web-embed {
  flex: 3 3;
  text-align: center;
  padding-top: 25px;
}

/******************************************
* Footer
******************************************/

footer {
  height: 2em;
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
}

#copyright {
  margin: auto;
}

/************************
* Media Queries
************************/

@media screen and (max-width: 767px) {

  header {
    height: 100px;
  }

  #sign-in-modal {
    width: 100%;
  }

  #sign-in-button {
    width: 100%;
  }

  #username-label {
    display: none;
  }

  #user-info {
    width: 100%;
    text-align: center;
  }

  #user-info-username {
    width: 100%;
    display: block;
    padding-bottom: 5px;
  }

  #sign-out-button {
    width: 100%;
    display: block;
  }

  #game-left-buffer {
    display: none;
  }

  #game-right-buffer {
    display: none;
  }

  #game-container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  #mobile-warning {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    display: block;
    font-size: 24px;
    text-align: center;
  }

  #more-info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    display: block;
    font-size: 18px;
    text-align: center;
  }

  .web-content-container {
    width: 80%;
  }

  .web-content-container-wide {
    width: 90%;
  }

  .web-content {
    flex-direction: column;
  }

  .web-content-no-reverse {
    flex-direction: column;
  }

  .quote {
    padding-bottom: 50px;
  }

  .quote .quote-text {
    font-size: 20px;
  }

  .quote .quote-author {
    font-size: 14px;
  }

  .web-text {
    font-size: 16px;
  }

  .web-text .large-text {
    font-size: 20px;
  }

  .sprite-box img {
    width: 33%;
  }

  .web-row-light .web-content {
    flex-direction: column-reverse;
  }
}